<section class="contact-section">
    <div class="contact-content">
  <h1>Contact</h1>

  <div class="contact-grid">
<div>
  <h3>Opening Hours</h3>
  <p>
    Monday – Friday<br>5:00 p.m. – 9:00 p.m.<br><br>
    Saturday – Sunday<br>7:00 a.m. – 6:00 p.m.
  </p>
</div>

  <div class="center-column">
    <h3>Contact</h3>
    <p>
      <a href="mailto:admin@accurateall-seasonservices.com">admin&#64;accurateall-seasonservices.com</a><br>
      Phone: <a href="tel:4024312607">(402) 431-2607</a>
    </p>
  </div>
</div>

<form
  class="contact-form"
  action="https://formspree.io/f/mkgbjprw"
  method="POST"
>
  <div class="form-row">
    <input type="text" name="name" placeholder="Name" required />
    <input type="email" name="_replyto" placeholder="Email address" required />
    <input type="tel" name="phone" placeholder="Phone number" />
  </div>
  <textarea name="message" placeholder="Message" required></textarea>

  <input type="hidden" name="_next" value="https://accurateall-seasonservices.com/thank-you" />
  <button type="submit">Submit</button>
</form>
  </div>
</section>
